#columnpic
{
    column-count: 5;
}

label
{
 font-weight: bold;
}

a
{
    text-decoration: none;
    background: transparent;
    margin-right: 2%;
    font-weight: bold;
}

dl
{
    background: transparent;
}